# Virtual environments
.venv/

# Environment variables
.env*

# Audio temp files
*.webm
*.wav
*.mp3
*.m4a

# Cache and compiled files
.cache/
__pycache__/
*.py[cod]

# Logs
*.log

# IDE and editor files
.vscode/
.idea/

# Operating system files
.DS_Store
